<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nate Sholl is a ....">
    <meta name="author" content="Nate Sholl, and Bootstrap contributors">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contact Info</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/assets/css/custom.css"> -->

  </head>
  <body>

    <main>
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='link-45deg.svg')}}" alt="link-45" width="144" height="144">
        <h1 class="display-5 fw-bold">Contacts & Links</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Let's connect!<br>
            <br>
            Email: nathansholl23@gmail.com<br>
          </p>
        </div>
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <a href="https://github.com/NateSholl">
          <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='github.svg')}}" alt="link-45" width="144" height="144">
          </a>
          <a href="https://www.linkedin.com/in/nathan-sholl-42a025197">
          <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='linkedin.svg')}}" alt="link-45" width="144" height="144">
          </a>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>