<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nate Sholl is a ....">
    <meta name="author" content="Nate Sholl, and Bootstrap contributors">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Contact Info</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/assets/css/custom.css"> -->

  </head>
  <body>

    <main>
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='link-45deg.svg')}}" alt="link-45" width="144" height="144">
        <h1 class="display-5 fw-bold">Contacts & Links</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Let's connect!<br>
            <br>
            Email: nathansholl23@gmail.com<br>
            Phone: 720-431-3799
          </p>
        </div>
      </div>
      <hr/>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Socials</h1>
        <div class="col-lg-6 mx-auto">
          <img href="https://github.com/NateSholl" class="d-block mx-auto mb-4" src="{{url_for('static', filename='github.svg')}}" alt="link-45" width="144" height="144">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>