<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nate Sholl is a ....">
    <meta name="author" content="Nate Sholl, and Bootstrap contributors">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Work History</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/assets/css/custom.css"> -->

  </head>
  <body>

    <main>
      <div class="px-4 py-2 my-2 text-center">
        <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='my_face.png')}}" alt="Nate Sholl Cameo" width="144" height="144">
        <h1 class="display-5 fw-bold">Work History</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Throughout his career Nathan has learned many skills and lessons. Listed Below are just a highlight of all that he has discovered.
          </p>
        </div>
      </div>
      <hr>
      <div class="px-4 py-0 my-5 text-center">
        <h1 class="display-4 fw-bold">Charter Communications<br>Network Engineer</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Ground up development of SCP device Firmware Testing lab</p>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                GitLab CICD Pipeline
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Deployed and developed a hardware dependent code push enabled pipeline.</strong><br>
                Using <strong>Ansible</strong> as the deployement method, enabled developers to circumvent the "automation-testing" stage of developement and allowed them to test key features of the device during the code writing process.<br>
                Supported and maintained a fleet of ~25 RPI devices with individual configurations and tags relating to capabilities.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Python Based Network Monitoring and Automation
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Using key Network Automation Tools to develop a home-grown health-check application</strong><br>
                Relying on REST API calls, MongoDB, PostgreSQL, and Python, created a cron job ran script that grabs relative data to the devices in the lab and stores that information in related Databases. The Database is then scraped and deployed on a React.js, Flask based Frontend. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Linux Administration
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Strong CLI skills in UBUNTU and raspbian based Linux systems</strong><br>
                Developed an understanding of Linux based operating systems and directories. Understand Shell $PATH and bash scripting. Has spent a lot of time with SSH and other remote access protocols such as VNC.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Cloud Services
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Responsible for Lab EC2 Instances and Route 53 DNS</strong><br>
                Created dynamic DNS and CNAME system to automatically assign Domain names to any device plugged into a configuration of the lab.<br>
                Configured security group access and package management for lab EC2 instances to host Databases, Front end monitoring, AWX for ansible, and more.
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
      </div>
      <hr>
      <div class="container my-5 py-0">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">The Colorado Trail</h1>
            <p class="lead">Being Dissatisfied with my life at the time I decided to pursue something that would challenge me. I embarked on a 500 mile backpacking trip starting in Waterton Canyon and heading to Durango.
              <br>
              <br>
              This trip was the final springboard in launching my life into a new direction. With the new found confidence I was able to get home level-minded and confident in my decision to pursue computer science
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded mx-auto d-block" src="{{url_for('static', filename='20210722_070429.jpg')}}" alt="Co Trail 1" width="490">
          </div>
        </div>
      </div>
      <hr>
      <div class="px-4 py-0 my-5 text-center">
        <h1 class="display-4 fw-bold">Woodlake Construction<br>Assistant Superintendent</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Ground up construction of small commercial developments</p>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Leadership" aria-expanded="false" aria-controls="Leadership">
                Team Leadership
              </button>
            </h4>
            <div id="Leadership" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Responsible for the day to day production of the entire job-site</strong><br>
                Kept job-sites running smoothly and made sure the schdule was on track using Microsoft Project. Directly communicated and held subcontracters responsible for their commited schedules and dates.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Communication" aria-expanded="false" aria-controls="Communication">
                Strong and Concise Communication
              </button>
            </h4>
            <div id="Communication" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Had to communicate with city municipalities, architects, and engineers.</strong><br>
                Developed the ability to get a point across with detail orientation as concisely as possible.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Solving" aria-expanded="false" aria-controls="Solving">
                Critical Thinking and Problem Solving
              </button>
            </h4>
            <div id="Solving" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Had to handle problems from day to day activities on the spot</strong><br>
                Dealt with and handled multiple prodcution blocking problems as they came up. 
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
      </div>
      <hr>
      <div class="px-4 py-0 my-5 text-center">
        <h1 class="display-4 fw-bold">Maxco Innovative Builders<br>Lead Carpenter</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Lead crews of 2-6 carpenters to handle day to day production.</p>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Production" aria-expanded="false" aria-controls="Production">
                Rapid, Repeatable Production.
              </button>
            </h4>
            <div id="Production" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Learned how to Orient myself to create a safe and fast work environment.</strong><br>
                The concept of Rapid and Repeatable is consistly used through my work as an idea of meeting standards as quickly and effectively as possible. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Detail" aria-expanded="false" aria-controls="Detail">
                Detail Oriented
              </button>
            </h4>
            <div id="Detail" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Having to pay attention to all details in a job and stay on top of the little things</strong><br>
                Wether it's reading plans or building something from your brain, the ability to keep the little details in mind is critical to my skillset. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Completion" aria-expanded="false" aria-controls="Completion">
                Bringing a Job to Completion
              </button>
            </h4>
            <div id="Completion" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Making sure every last detail of a job is buttoned up before moving on</strong><br>
                This detail was critical to production carpenty as an little call back would be a huge hit to overhead.
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>